useDynLib("MRA.TA")
# exportPattern("^[[:alpha:]]+")
# lst <- gsub(".Rd$", "", dir("man"))
# cat(paste("export(", lst, ")", collapse="\n", sep=""))
# export(_hidden_)
export(backgroundBiasCorrection)
export(backgroundBiasEstimation)
export(calc.Qi)
export(colorstrip)
export(combineByFragment)
export(computeRestrictionMap)
export(countProbesPerFragment)
export(domainogram)
export(enrichmentQuality)
export(enrichmentScore)
export(file.formats)
export(lowessCorrection)
export(makeColors)
export(matchFragmentsToProbes)
export(matchProbesToFragments)
export(normalizeArrayData)
export(new.domain.plot)
export(plotDomains)
export(plotOptimalSegments)
export(plotProbeDistanceControls)
export(plotSelectedProbes)
export(processArgs)
export(readData)
export(segmentation)
export(verifyInputFiles)
export(visualizationCoordinates)
export(wSize2yAxis)
